<div>
    <div>
        <a asp-action="InsertDemo">InsertDemo</a>
    </div>
    <div>
        <a asp-action="QueryDemo">QueryDemo</a>
    </div>
    <div>
        <a asp-action="PagedQueryDemo">PagedQueryDemo</a>
    </div>
    <div>
        <a id="btnSingleTransDemo" href="javascript:;">SingleTransDemo</a>
    </div>
    <div>
        <a id="btnSingleTwoTransDemo" href="javascript:;">SingleTwoTransDemo</a>
    </div>
    <div>
        <a id="btnDoubleTwoTransDemo" href="javascript:;">DoubleTwoTransDemo</a>
    </div>
    <div>
        <a id="btnDoubleTwoTransNestRollbackDemo" href="javascript:;">DoubleTwoTransNestRollbackDemo</a>
    </div>
    <div>
        <a id="btnDoubleTwoTransRootRollbackDemo" href="javascript:;">DoubleTwoTransRootRollbackDemo</a>
    </div>
    <div>
        <a asp-action="DoubleDbDemo">DoubleDbDemo</a>
    </div>
</div>
@section Scripts {
    <script src="~/js/app/Home/Index.js"></script>
}